<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Julia. Made during the Complete Node.js Developer Guide course available on Udemy from Andrew Mead. </p>
            <img class="potrait" src="/img/robot.png" />
        </div>
        
        {{>footer}}
    </body>
</html>